<div class="container alert alert-secondary w-50">
  <h1 id="form-title" class="alert-secondary">Sign in</h1>
  <form class="justify-content-center" [formGroup]="signInForm" (ngSubmit)="login(signInForm.value)">
    <label for="email">Email:</label>
    <input formControlName="email" placeholder="Enter your email" type="email" id="email" class="form-control" name="email">
    <label class="mt-3" for="password">Password:</label>
    <input formControlName="password" placeholder="Enter your password" type="password" id="password" class="form-control" name="password">
    <div class="d-flex flex-row-reverse mt-3">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>
